## 0. Import library

In [1]:
import pandas as pd 
import numpy as np

## 1. Read data

In [3]:
df = pd.read_json("Data/final.json")
df.head()

,id,movie_id,ratings,title,user_review,user_id_review,date_review,total_agree,is_spoilers,description
0,rw0002492,tt0012349,NaN,A Must-See Silent Comedy,Snow Leopard,ur1174211,4 March 2002,87 out of 91,False,While perhaps not as celebrated now as some of...
1,rw6111597,tt0012349,9.0,Emphatically Outstanding...,Xstal,ur4103165,20 September 2020,29 out of 30,False,It takes your breath away over 100 years later...
2,rw1223756,tt0012349,9.0,One Of The Most Memorable Silent Films Ever,ccthemovieman-1,ur4445210,24 November 2005,70 out of 79,False,"Wow, is this a memorable film! It is one of th..."
3,rw1160671,tt0012349,9.0,Smiling and Tearing,Cineanalyst,ur1888886,29 August 2005,33 out of 35,True,"""The Kid"" is a powerfully emotional and wonder..."
4,rw1611019,tt0012349,NaN,Chaplin understands how close slapstick is to ...,J. Spurlin,ur0679729,4 March 2007,47 out of 48,False,I've always thought there's a great beauty and...

## 2. Explore data

In [4]:
# info data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349280 entries, 0 to 349279
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              349280 non-null  object
 1   movie_id        349280 non-null  object
 2   ratings         319197 non-null  float64
 3   title           349280 non-null  object
 4   user_review     349280 non-null  object
 5   user_id_review  349280 non-null  object
 6   date_review     349280 non-null  object
 7   total_agree     349280 non-null  object
 8   is_spoilers     349280 non-null  bool
 9   description     349280 non-null  object
dtypes: bool(1), float64(1), object(8)
memory usage: 24.3+ MB

Description data

|column|description| type|
|------|-----------|-----|
|id| id review| string|
|movie_id| id movie|string|
|ratings| rating of user for movie| float|
|movie_id| id movie|string|
|title| title of movie|string|
|user_review| name's user|string|
|user_id_review| id of user|string|
|date_review| date review|string|
|total_agree| ...|string|
|is_spoilers| ...|bool|
|description| description of review|string|

## 3. Processing data

In [5]:
## Transform type date_review column
df['date_review'] = pd.to_datetime(df['date_review'], format='%d %B %Y')

In [6]:
## split train test
df_train = df[~df['ratings'].isna()]
df_test = df[df['ratings'].isna()]

In [7]:
## get label
def get_label(ratings:float):
    if ratings <= 4:
        return 'NEG'
    elif ratings >= 8:
        return 'POS'
    return 'NEU'
df_train['label'] = df_train['ratings'].apply(get_label)

C:\Users\DELL\AppData\Local\Temp\ipykernel_5360\477298145.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['label'] = df_train['ratings'].apply(get_label)

In [8]:
df_train.to_csv("data/train.csv")
df_test.to_csv("data/test.csv")